@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif;
 */
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilo para o Scrool Chrome e Safari */
.custom-scroll::-webkit-scrollbar {
  width: 12px; /* Largura mais normal para a barra */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #800080;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor do fundo da área do scroll */
  border-radius: 10px;
}

/* Estilo para o Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #800080 #f1f1f1;
}


/* Carregamento da Página de Jogos */

@keyframes spin-left-right {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
    scale: 1.25;
  }
}

.animate-spin-left-right {
  animation: spin-left-right 2s ease-in-out forwards;
}
